[metadata]
name = heterogeneous-metric-learning
version = 0.0.2
description = Set of methods for heterogeneous metric learning
author = Alan Ganem
author-email = ganem.alan@hotmail.com
license = mit
url = https://github.com/AlanGanem/heterogeneous-metric-learning
project-urls =
    Documentation = https://github.com/AlanGanem/heterogeneous-metric-learning
long-description = file: README.md
long-description-content-type = text/markdown

# Change if running only on Windows, Mac or Linux (comma-separated)
platforms = any

[options]
zip_safe = False
packages = find:
include_package_data = True
package_dir =
    =hml

# Add here dependencies of your project (semicolon/line-separated), e.g.
# install_requires = numpy; scipy
# The usage of test_requires is discouraged, see `Dependency Management` docs
# tests_require = pytest; pytest-cov
# Require a specific Python version, e.g. Python 2.7 or >= 3.4
python_requires = >=3.6

[options.packages.find]
where = hml
exclude =
    tests

[aliases]
dists = bdist_wheel

[bdist_wheel]
# Use this option if your package is pure-python
universal = 1